<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <link rel="stylesheet" href="style.css">
    <title>Acrylic Painting Gallery</title>
</head>

<style>
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Oswald', sans-serif;
    font-size: 1.3rem;
    background: #f9f9f9;
}

a {
    color: #333;
    text-decoration: none;
}

.container {
    max-width: 1100px;
    margin: auto;
    overflow: auto;
    padding: 0 2rem;
    margin-top: 2rem;
}

.main-header {
    height: 55vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2rem;
}

.main-header h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    line-height: 1.2;
}

.main-header h1 span {
    color: #b50d10;
}

.main-header p {
    font-size: 2rem;
}

img {
    width: 100%;
}

.card {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
    background: #f1f1f1;
    margin-bottom: 2rem;
}

.card h3 {
    margin-bottom: 2rem;
}

.card img {
    height: 400px;
}

.card > div {
    padding: 2rem;
}

.card:nth-child(even) img {
    order: 2;
}

.btn {
    display: inline-block;
    background: #000;
    color: #ffffff;
    padding: 0.8rem 1.8rem;
    margin-top: 2rem;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.8;
}

@media(max-width: 700px) {
    .card {
        display: block;
    }
}
</style>

<body>
    <header class="main-header">
        <h1><span>Acrylic Painting</span> Gallery</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam, alias?</p>
    </header>

    <main class="container">
        <section class="card">
            <img src="https://i.ibb.co/VvC0vpN/paint-1.png" alt="" />
            <div>
                <h3>Acrylic Painting One</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis quaerat eum, illum velit eaque,
                    quae deleniti repellendus libero doloribus tenetur iure soluta sint est debitis suscipit. Facere
                    sequi odio culpa.</p>
                <a href="#" class="btn">Buy Now</a>
            </div>
        </section>

        <section class="card">
            <img src="https://i.ibb.co/3NHjDcW/paint-2.png" alt="" data-aos="fade-left"/>
            <div>
                <h3>Acrylic Painting Two</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam modi, id magnam earum voluptatibus hic
                    vel magni perferendis quia dolorem.</p>
                <a href="#" class="btn">Buy Now</a>
            </div>
        </section>

        <section class="card">
            <img src="https://i.ibb.co/0VywMkW/paint-3.png" alt="" data-aos="fade-right"/>
            <div>
                <h3>Acrylic Painting Three</h3>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut reprehenderit earum voluptatibus sequi.
                    Enim, voluptate aliquam. Fugit nostrum alias blanditiis doloremque accusamus sequi ut veritatis, ab
                    ullam recusandae eum tempore!</p>
                <a href="#" class="btn">Buy Now</a>
            </div>
        </section>

        <section class="card">
            <img src="https://i.ibb.co/5LkJFRP/paint-4.png" alt="" data-aos="fade-left"/>
            <div>
                <h3>Acrylic Painting Four</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt nam accusamus ratione itaque
                    perferendis repudiandae odio, veritatis voluptates rerum quaerat hic animi iste, dolorem veniam
                    vitae saepe expedita? Totam, facere.</p>
                <a href="#" class="btn">Buy Now</a>
            </div>
        </section>

        <section class="card">
            <img src="https://i.ibb.co/61R8Q2y/paint-5.png" alt="" data-aos="fade-right"/>
            <div>
                <h3>Acrylic Painting Five</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut asperiores soluta nemo iure a dolorem
                    consectetur? Molestias, atque! Repudiandae hic dolorem maiores nam facere inventore sunt quia
                    ratione at dolore.</p>
                <a href="#" class="btn">Buy Now</a>
            </div>
        </section>
    </main>
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
  <script>
    AOS.init({
        offset: 300,
        duration: 1000
    });
  </script>
</body>

</html>